{% extends 'SocialMedia/base.html' %}
{% block title %}Update Profile{% endblock %}
{% block content %}
<form class="" method="POST" action="">
    {% csrf_token %}
    <label>First Name</label>
    <input type="text" name="first_name" value="{% if user.first_name %}{{user.first_name}}{% else %}{% endif %}">
    <label>Second Name</label>
    <input type="text" name="second_name" value="{% if user.second_name %}{{user.second_name}}{% else %}{% endif %}">
    <label>Username</label>
    <input type="text" name="username" value="{% if user.username %}{{user.username}}{% else %}{% endif %}">
    <label>Email</label>
    <input type="text" name="email" value="{% if user.email %}{{user.email}}{% else %}{% endif %}">
    <label>Personal Info</label>
    <input type="text" name="personal_info" value="{% if user.bio_info %}{{user.bio_info}}{% else %}{% endif %}">
    <br>
    <input type="submit" value="submit"><br>
    <a href="{% url 'user-post' user.id %}">Go back</a>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                </ul>
            </div>
        {% endfor %}
    {% endif %} 
</form>
{% endblock %}